@import './base.css';
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme{
  --text-color-base: var(--color-text);
  --text-color-heading: var(--color-heading);
  --text-color-sub-heading: var(--color-sub-heading);
  --color-border: var(--color-border);
  --color-border-hover: var(--color-border-hover);
}

#app {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

a {
  text-decoration: none;
  transition: 0.4s;
  text-decoration: none;
}

.color-heading {
  color: var(--color-heading);
}

.color-sub-heading {
  color: var(--color-text);
}
